.login-container {
    max-width: 400px;
    margin: 5rem auto;
    background-color: #1e1e1e;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    color: white;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.register-prompt {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.9rem;
}

.register-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.register-link:hover {
    text-decoration: underline;
}


.login-form label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.login-form input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    margin-top: 0.25rem;
}
